$leftPannelBgColor: #484e55;

.main-container{
    display: flex;
    border: 8px solid #484e55;
    border-left:0;
    height: 366px;
    
}
.left{
  display : flex;
  background-color: #272b30;
  border-right: 8px solid #484e55;
  color : #FFF;
  padding: 10px;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#272b30;
  color : #FFF;
  padding: 2px;
  height: 349px;
  overflow: auto;
}
@media (max-width: 1200px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}

.stack-trace {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        cursor: pointer;
        border-left: solid 5px $leftPannelBgColor;
        padding: 10px;
        padding-left: 15px;
        &:hover{
            text-decoration: underline;  
        }
        &.selected{
          border-left: solid 5px rgba(91, 192, 222, 0.76);
          color: rgba(91, 192, 222, 0.76);
        }
    }
}

.file-name{
    background-color: #565a5f;
    padding: 5px;
    margin-bottom: 2px;
    color: #FFF;
}
.line-number {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.36);
  min-width: 30px;
  padding: 4px 6px;
  /*margin-left: -4px;*/
}

.line-code {
  display: inline-block;
}

.variable{
    background-color: #7a8288; 
    border: none; 
    padding: 0; 
    border-bottom: 1px dotted #FFF;
}
h4{
    font-size: 14px;
    margin: 0;
}
.file-name + .row{
    margin-right: 0;
}
.recorded-variables, table{
  background-color: #fff;
  color:#5d6368;
  .header{
        background-color: rgba(138, 80, 146, 0.82);
        color:#fff;
        padding: 9px;
  }
  .glyphicon-triangle-bottom{
    cursor: pointer;
    color:#cccccc;
    top: -4px;
  }
  .recorded-variable-popup{
    overflow: auto;
    max-height: 280px;
    padding-bottom: 11px;
    padding-top: 6px;
  }
}
.ellipses{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recorded-variables {
    .col-md-6{
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 0;
    }
}
.manage-object{
    display: inline-block;
    width: 80%;
}
.program-stack{
  margin-bottom: 5px;
}
.close-accordion{
     display:none
   }