<h4>Stack Trace</h4>

<div class="row">
  <div class="col-lg-4 col-md-5 col-sm-12 left">

    <ul class="stack-trace">
      <li *ngFor="let stackTrace of stackTraces" (click)="setSelectedStack(stackTrace)" [ngClass]="{'selected': stackTrace == selectedStack}">{{stackTrace.error}}</li>
    </ul>

  </div>

  <!--<span [popover]="testDelete">span</span> | 
  <button type="button" class="btn btn-success" popover="Vivamus sagittis."popoverTitle="Dismissible popover" triggers="focus">button</button>-->

  <div class="col-lg-8 col-md-7 col-sm-12 right" style="display: block; color: #c8c8c8;">
    <div class="file-name" *ngIf="sourceCode?.resp.path"><h4>{{sourceCode?.resp.path}}</h4></div> 
    <div *ngFor="let line of sourceCode?.resp?.lines">
      <div>

        <div class="line-number">{{line.lineNumber}}</div>
        <!--<div class="line-code">{{line.lineCode}}</div>-->
        <div class="line-code">
          <div [ngSwitch]="isArray(line.lineCode)">
            <div *ngSwitchCase="false" style="white-space: pre;">{{line.lineCode}}</div>
            <div *ngSwitchCase="true">
              <span *ngFor="let li of line.lineCode"><span [ngSwitch]="li.isValueAvailable"><span *ngSwitchCase="false" style="white-space: pre;">{{li.line}}</span><span *ngSwitchCase="true" style="white-space: pre;"><button  #pop="bs-popover" (click)="getValue(pop, li.line)" [popover]="availableValues[li.line]" triggers="focus" type="button" class="variable">{{li.line}}</button></span></span></span>
            </div>
          </div>
        </div>
        <!--<div class="line-code" [innerHTML]="line.lineCode"></div>-->

        <!--<div class="line-code" [innerHTML]="line.lineCode">
          <template #popTemplate>
            <div [innerHtml]="line.lineNumber"></div>
          </template>
          <button type="button" class="btn btn-success" [popover]="popTemplate">Show me popover with html</button>
        </div>-->

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  </div>
</div>